@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&family=Poppins:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0 auto;
    font-family: poppins;
}

body{
    background-color: #f9f9f9;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #b3b3b3 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

.container{
    max-width: 1220px;
}
/* ===============================CATEGORIAS & SELECT=============================== */

.select{
    display: flex;
    flex-direction: column;
    height: 40vh;
    background-color: white;
    padding: 3rem;
    border-radius: 16px;
    -webkit-box-shadow: 0px 11px 17px -10px #c8cbcf93; 
    box-shadow: 0px 11px 17px -10px #c8cbcf93;
}

.select-filter{
    border-bottom: 1px solid #3b4a6033;
    padding-bottom: 16px;
    width: 100%;
}

.select-filter button{
    padding: 16px 16px;
    margin: 0 2px;
    border: 1px solid #E2ECF8;
    border-radius: 16px;
    background-color: white;
    color: #3B4A60;
    transition: all 0.5s ease;
}

.select-filter button:hover{
    background-color: #ffc3be0e;
}

.select-filter .active{
    background-color: #e4918a;
    font-weight: 600;
    color: white;
    border: none;
}
.select-filter .active:hover{
    background-color: #c97d77;
}

.select-ladrilhos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 16px;
    overflow-y: scroll;
    width: 100%;
}


.select-ladrilhos .inactive{
    display: none;
}


.select-ladrilhos .active{
    display: flex;
    flex-direction: column;
    margin: 0 0 16px 0;
}


.select-ladrilhos-miniaturas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 16px;
    margin: 0;
}

.select-ladrilhos-miniaturas h5{
    font-size: 10px;
    font-weight: 300;
    line-height: 14px;
    color: #23435e;
}
.select-ladrilhos .active h2{
    margin: 10px 0;
    font-size: 24px;
}
        
.thumb-ladrilho{
    cursor: pointer;
    width: 56px;
    margin: 0 0 8px 0;
}

.min-ladrilhos{
    width: 56px;
    border-radius: 4px;
}



.preview{        
    display: flex;
    flex-direction: row;
    margin: 40px 0;
    background-color: white;
    padding: 3rem;
    border-radius: 16px;
    -webkit-box-shadow: 0px 11px 17px -10px #c8cbcf93; 
    box-shadow: 0px 11px 17px -10px #c8cbcf93;
}


#preview-ladrilho{
    width: 432px;
    min-height: 432px;
    border: 1px solid #dfdfdf;
    cursor: crosshair;
}

.button-print{
    padding: 20px 48px;
    background: #e4918a;
    color: white;
    margin-top: 24px;
    font-weight: 500;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    transition: all 0.5s ease;
}

.button-print:hover{
    background: #c27169;
    cursor: pointer;
}

.button-render3d{
    cursor: pointer;
    padding: 20px 48px;
    border: 1px solid #e4918a;
    background-color: white;
    color: #e4918a;
    margin-top: 24px;
    font-weight: 500;
    border-radius: 50px;
    transition: all 0.5s ease;
    margin: 0 10px;
}

.button-render3d:hover{
    padding: 20px 48px;
    border: 1px solid #e4918a;
    background-color: #fffcfb;
    color: #e4918a;
    margin-top: 24px;
    font-weight: 500;
    border-radius: 50px;
    transition: all 0.5s ease;
    margin: 0 10px;
}


#preview-color{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 58%;
    margin-left: 16px;
}

.color{
    width: 80px;
    margin: 0 0 8px 0;
}

.picker{
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.picker-active{
    width: 80px;
    height: 80px;
    border: 2px solid rgb(2, 2, 2);
    border-radius: 5px;
    -webkit-box-shadow: 2px 7px 10px -4px rgb(9 16 71 / 35%);
    box-shadow: 2px 7px 10px -4px rgb(9 16 71 / 35%);
}

.color-name{
    font-size: 11px;
    line-height: 14px;
    color: #23435e;
}


.faixa-svg{float: left; width: 50%;}


.row-ladrilhos{
    display: flex;
    flex-direction: row;
}

.settings-rejuntes{
    width: 30%;
}


#preview3d{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
}

.ladrilho3d{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal3d{
    background: white;
    max-width: 600px;
    width: 80%;
    position: relative;
}


.fechar3d{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    padding: 10px 16px;
    margin: 10px;
    border: none;
    border-radius: 100px;
    font-weight: 800px;
    background: rgb(2, 2, 2, .5);
    color: white;
    cursor: pointer;
}

.ladrilho3d.mostrar3d{
    display: flex;
}

.imagem3d{
    position: relative;
    z-index: 2;
}

.ladrilhos3d{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 600px;
}


#nome-ladrilho{
    font-size: 24px;
    font-weight: 800;
    color: #e4918a;
    margin-top: 8px;
}

.titulo-coresUsadas{
    font-size: 16px;
    color: #011627;
    margin-top: 16px;
}

.coresUsadas{
    list-style: none;
    color: #011627c7;

}

.headline{
    margin-top: 80px;
}

.headline h4{
    text-align: center;
    color: #3B4A60;
    text-transform: uppercase;
    letter-spacing: 16px;
    font-size: 13px;
}

.headline h2{
    text-align: center;
    color: #c97d77;
    font-size: 32px;
    line-height: 40px;
}

.instrucoes{
    padding: 30px;
    margin-top: 32px;
    background-color: #e9e9e9 !important;
    margin-bottom: 64px;
    color: #3b4a60;
}

.instrucoes h5{
    font-size: 16px;
    margin-bottom: 24px;
}

.instrucoes p{
    font-size: 14px;
    margin-bottom: 8px;
}




#visualizar{
    display: flex;
    margin-bottom: 100px;
}

#visualizar .area-preview{
    width: 70%;
}

  #visualizar .area-options {
    padding-left: 20px;
    width: 20%;
  }
  #preview-options .paleta p {
    display: none;
  }
  .grade {
    overflow: hidden;
    background: #fff;
  }
  .grade .item {
    overflow: visible;
    float: left;
  }
  .grade .item.default span {
    display: block;
    width: 100%;
    padding: 50% 0;
    border: 1px solid #e5e5e5;
  }
  .grade .item svg {
    display: block;
  }
  .grade .tile-row {
    position: relative;
    clear: both !important;
    float: none !important;
    width: 100% !important;
  }
  
  /* preview com faixa e corners */
  .grade .holder {
    position: relative;
  }
  .grade .holder svg {
    position: relative;
    z-index: 1;
  }
  .grade.has-corner .first-row .last-col.corner-tile .holder {
    -webkit-transform: rotate(90deg) !important;
    -ms-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
  }
  .grade.has-corner .last-row .last-col.corner-tile .holder {
    -webkit-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
  }
  .grade.has-corner .last-row .first-col.corner-tile .holder {
    -webkit-transform: rotate(-90deg) !important;
    -ms-transform: rotate(-90deg) !important;
    transform: rotate(-90deg) !important;
  }
  .grade.faixa .empty-tile .holder svg {
    visibility: hidden;
  }
  .grade.faixa .last-col .holder {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .grade.faixa .first-col .holder {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .grade.faixa .last-row .holder {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .grade.faixa .first-row .holder {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  
  .grade .hexagonal .tile-row {
    overflow: hidden;
  }
  .grade.hexagonal {
    position: relative;
  }
  
  .grade.hexagonal .mask {
    position: absolute;
    z-index: 10;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    background: #F9F9F9;
  }
  .grade.hexagonal[data-cols="10"] .mask {
    width: 5%;
  }
  .grade.hexagonal[data-cols="9"] .mask {
    width: 5.555%;
  }
  .grade.hexagonal[data-cols="8"] .mask {
    width: 6.25%;
  }
  .grade.hexagonal[data-cols="7"] .mask {
    width: 7.143%;
  }
  .grade.hexagonal[data-cols="6"] .mask {
    width: 8.333%;
  }
  .grade.hexagonal[data-cols="5"] .mask {
    width: 10%;
  }
  .grade.hexagonal[data-cols="4"] .mask {
    width: 12.5%;
  }
  .grade.hexagonal[data-cols="3"] .mask {
    width: 16.666%;
  }
  .grade.hexagonal[data-cols="2"] .mask {
    width: 25%;
  }
  .grade.hexagonal[data-cols="1"] .mask {
    width: 50%;
  }
  
  /* FLORAO */
  .grade.florao .tile-row:nth-child(odd) .tile-col:nth-child(odd) {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .grade.florao .tile-row:nth-child(odd) .tile-col:nth-child(even) {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .grade.florao .tile-row:nth-child(even) .tile-col:nth-child(odd) {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .grade.florao .tile-row:nth-child(even) .tile-col:nth-child(even) {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  /* FLORAO ESPELHADO */
  .grade.florao.florao-espelhado .tile-row:nth-child(odd) .tile-col:nth-child(odd) {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .grade.florao.florao-espelhado .tile-row:nth-child(odd) .tile-col:nth-child(even) {
    -webkit-transform: rotate(0deg) scaleX(-1);
    -ms-transform: rotate(0deg) scaleX(-1);
    transform: rotate(0deg) scaleX(-1);
  }
  .grade.florao.florao-espelhado .tile-row:nth-child(even) .tile-col:nth-child(odd) {
    -webkit-transform: rotate(0deg) scaleY(-1);
    -ms-transform: rotate(0deg) scaleY(-1);
    transform: rotate(0deg) scaleY(-1);
  }
  .grade.florao.florao-espelhado .tile-row:nth-child(even) .tile-col:nth-child(even) {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

@media print {

    body * {
        visibility: hidden;
      }
      .print *, .print{
        visibility: visible;
      }

      #preview-ladrilho > svg > switch > g > rect {
        visibility: visible;
      }

      .print {
        position: absolute;
        height: 600px;
        left: 0;
        top: 0;
      }

      .button-print, .button-print *{
          visibility: hidden;
      }
      .button-render3d, .button-render3d *{
          visibility: hidden;
      }

}

/* ===================================PRONTO===================================== */


@media only screen and (max-width: 600px){
.container{max-width: 95vw;}

.headline h4{

    letter-spacing: 14px;
    font-size: 12px;
}

.headline h2{
    font-size: 32px;
    line-height: 40px;
}

.select{
    display: block;
    padding: 40px 20px;
    overflow-y: scroll;
    height: 50vh;
}

.select-filter{
    display: flex;
    overflow: scroll;

}

.select-filter > button{
    padding: 8px 16px;
    font-size: 14px;
    margin: 2px;
}

.select-ladrilhos-miniaturas{
    gap: 10px;
}

.thumb-ladrilho {
    cursor: pointer;
    width: 48px;}

.min-ladrilhos{
    width: 48px;
}

.print{
    margin: 0;
}

.preview{
    flex-direction: column;
    padding: 40px 20px;
}

#preview-ladrilho{
    width: 100%;
    min-height: 300px;
}

.button-print, .button-render3d{
    padding: 16px 24px !important;
    margin: 8px 0px;
    width: 100%;
}

#preview-color{
    margin-top: 40px;
    margin-left: 0;
    width: 100%;
}

.color{
    width: 72px;
}

.picker{
    width: 72px;
    height: 72px;
}

.modal3d{
    overflow: hidden;
}

.ladrilar-3d__parede{
    width: 100%;
}

}